.checkout-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.5rem;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

.clear-btn {
  margin-top: 0.5rem; 
}
